<h2>Checkout</h2>

<%= form_for @order do |f| %>

	<div class="form-group">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>

	<div class="form-group">
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>

	<%= f.submit 'Checkout' %>


<% end %>