<h2>Current Cart</h2>

<table>
  <thead>
    <tr>
      <td>Product</td>
      <td>Price</td>
      <td>Quantity</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.product.title %></td>
        <td><%= number_to_currency item.price %></td>
        <td><%= item.quantity %></td>
        <td>
          <%= form_for item, method: :delete do |f| %>
            <%= f.submit "Remove" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" align="right">
        <%= number_to_currency current_cart.sub_total %>
      </td>
    </tr>
  </tfoot>

</table>

<%= link_to "Checkout", categories_path %>


